@import 'style/variables.scss';

.container {
  display: flex;
  align-items: center;
  margin-top: 128px;
  justify-content: center;
  background: var(--background-color);
  // padding: 30%;

  @include small {
    // padding: 16px;
  }
}
.newUrlForm {
  width: 100%;
}
.close {
  margin-left: $margin * 2;
}
.title {
  margin-bottom: 1em;
}
.buttons {
  display: flex;
  align-items: center;
  margin-bottom: $margin * 2;
  .second {
    margin-left: $margin;
  }
}
.subtitle {
  margin-bottom: $margin;
}
