@import 'style/variables.scss';

.articles {
  display: flex;
  flex-wrap: wrap;
  margin-top: 64px;
  margin-bottom: 200px;
  @include small {
    margin-top: 32px;
  }
}
.footer {
  margin-top: 128px;
  padding-top: 64px;
  margin-bottom: 128px;
  margin-top: 2px solid var(--border-color);
}
.articlesActions {
  display: flex;
  @include small {
    flex-direction: column;
  }
  .buttons {
    margin-left: auto;
    @include small {
      display: flex;
      justify-content: space-between;
      margin-left: 0;
      margin-top: $margin * 2;
    }
  }
  .newUrlButton {
    margin-left: $margin;
  }
}
.article {
  min-width: calc(50% - 64px);
  width: calc(50% - 64px);
  @include small {
    min-width: 100%;
  }
  margin-right: $margin * 4;
  border-bottom: 1px solid var(--background-color-alt);
  padding-bottom: $margin * 2;
  margin-bottom: $margin * 2;
  // background: var(--background-color-alt);
  display: flex;
  // flex-direction: column;
  // box-shadow: 0 2px 2px var(--shadow-color);
  img {
    // width: 100%;
    border-radius: 10px;
    object-fit: cover;
    margin-right: $margin;
    width: 150px;
    height: 200px;
  }
  .text {
    // padding: 12px;
    @include small {
      padding: 0;
    }
    display: flex;
    min-height: 160px;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .title {
    font-size: 1.1em;
    line-height: 1.2em;
    // max-height: 4.4em;
    font-weight: bold;
    margin-bottom: 0.5em;
    // color: ;
    display: block;
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .description {
    text-decoration: none;
    font-size: 0.9em;
    line-height: 1.2em;
    margin-bottom: 0.5em;
    // max-height: 2.4em;
    overflow: hidden;
  }
  .more {
    display: flex;
    align-items: center;

    @include small {
      align-items: baseline;
      flex-direction: column;
    }
    margin-top: auto;
    margin-bottom: 0.5em;

    font-size: 0.7em;
    line-height: 1em;
    .url {
      font-style: italic;
      color: inherit;
      margin-left: auto;
      display: inline-block;
      line-height: 1.2em;
      @include small {
        margin-top: 0.5em;
        margin-left: 0;
      }
    }
  }
}
