@import 'style/variables.scss';

.section {
  padding-right: 33%;
  padding-top: 64px;
  padding-bottom: 64px;
  @extend %text;
  small {
    font-size: 14px;
  }
  ol,
  ul {
    padding-top: 16px;
    list-style-type: decimal;
    padding-left: 32px;
    li {
      padding-bottom: 8px;
    }
  }
  b {
    color: var(--primary-color);
  }
  ul {
    list-style-type: disc;
  }

  @include small {
    padding-right: 0;
  }
}
