@import 'style/variables.scss';

.link {
  appearance: none;
  text-decoration: underline;
  color: var(--secondary-color-10);
  font-weight: 500;
  opacity: 0.7;
  // margin-top: $margin;
  border: 0;
  text-align: left;
  padding: 0;
  cursor: pointer;
  background: transparent;
  text-decoration: none;
  margin-top: 0;
  &.small {
    display: inline-block;
    font-size: 14px;
  }
  &:hover {
    color: var(--secondary-color-100);
  }
}
.button {
  background: var(--background-color);
  border: 3px solid var(--primary-color);
  border-radius: 8px;
  box-shadow: 0 2px 2px var(--shadow-color);
  @extend %default;
  color: var(--primary-color);
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  // height: 40px;
  cursor: pointer;
  text-align: center;

  appearance: none;
  text-decoration: none;
  min-width: 120px;
  padding-left: 20px;
  padding-right: 20px;
  height: 44px;
  &.button_red {
    color: var(--background-color-alt);
    border-color: var(--habit-red-strong);
    background-color: var(--habit-red-strong);
  }
  &.button_blue {
    color: var(--background-color-alt);
    border-color: var(--habit-blue-strong);
    background-color: var(--habit-blue-strong);
  }
  &.button_purple {
    color: var(--background-color-alt);
    border-color: var(--habit-purple-strong);
    background-color: var(--habit-purple-strong);
  }
  &.button_green {
    color: var(--background-color-alt);
    border-color: var(--habit-green-strong);
    background-color: var(--habit-green-strong);
  }
  &.button_orange {
    color: var(--background-color-alt);
    border-color: var(--habit-orange-strong);
    background-color: var(--habit-orange-strong);
  }
  &.button_pink {
    color: var(--background-color-alt);
    border-color: var(--habit-pink-strong);
    background-color: var(--habit-pink-strong);
  }
  &.disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }

  // &:hover {
  //   background: var(--secondary-color-10);
  // }
  &.small {
    font-size: 14px;
    height: 32px;
  }
  &.secondary {
    background: var(--border-color);
    border: 3px solid var(--border-color);
    color: var(--text-color);
    box-shadow: none;
  }
  &.big {
    width: 100%;
    height: 48px;
    font-size: 20px;
    // border-radius: 16px;
    padding: 0 $margin * 2;
  }
}
