@import 'style/variables.scss';

.habitDetailContainer {
  background: var(--background-color);
  border-radius: $margin;
  padding: $margin;
  border: 2px solid var(--border-color);
  @include small {
    background: transparent;
    padding: 0;
    border: 0;
    border-radius: 0;
  }
}
.headerContainer {
  margin: $margin * 1.5;
  margin-bottom: 0;
  border-bottom: 3px solid var(--border-color);
  @include small {
    border: 0;
    margin-top: 0;
    padding: $margin * 1.5;
    padding-top: $margin * 3;
    border-radius: 0;
    margin-left: -$margin * 1.5;
    margin-right: -$margin * 1.5;
    background: var(--background-color-alt);
  }
  h2 {
    font-size: 32px;
    line-height: 40px;
    font-weight: 500;
  }
}

.infoContainer {
  margin-top: $margin * 4;
  .info {
    display: inline-block;
    padding-right: $margin * 3;
    @include small {
      padding-right: $margin * 1.4;
    }
    &:last-child {
      padding-right: 0;
    }
    // margin-right: 5%;
    .label {
      font-size: 14px;
      @include small {
        font-size: 14px;
      }
      font-weight: 500;
    }
    .value {
      font-size: 24px;
      @include small {
        font-size: 20px;
      }

      font-weight: 500;
    }
  }
}
.bottomSection {
  display: flex;
  align-items: flex-end;
  margin-bottom: $margin;
  @include small {
    margin-bottom: 0;
    align-items: flex-start;
    flex-direction: column;
  }
}
.doneButton {
  position: relative;
  width: 250px !important;
  margin-left: auto;
  // margin-left: auto;
  // margin-right: auto;
  margin-top: $margin;
  @include small {
    margin-bottom: -48px;
    width: 100% !important;
    margin-left: 0;
  }
}
.contentContainer {
  padding: $margin * 1.5;
  padding-top: $margin * 4;
  @include small {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
  }
}
.calendars {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.calendar {
  margin-top: $margin * 2;
  margin-bottom: $margin * 2;
  width: 45%;
  @include small {
    width: 100%;
    margin-bottom: 0;
    margin-top: $margin;
  }
}
.days {
  display: flex;
  flex-wrap: wrap;
  margin-left: 5px;
  margin-bottom: 32px;
  margin-top: $margin;
  @include small {
    width: 100%;
    margin-bottom: 0;
  }
}
.atom {
  cursor: pointer;
  // min-width: 64px;
  // min-height: 64px;
  margin-left: -3px;
  margin-bottom: -3px;
  width: 40px;
  font-size: 12px;
  @include small {
    width: 50px;

    font-size: 14px;
    margin-left: -5px;
    margin-bottom: -5px;
  }

  border-radius: 999em;
  display: flex;
  align-items: center;
  justify-content: center;
  // border: 3px solid var(--background-color);
  box-shadow: 0px 0px 0px 3px var(--background-color);
  // margin: 3px;
  font-weight: 600;
  color: var(--text-color);
  border: 3px solid transparent;
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Likely future */
  z-index: 1;
  &:after {
    content: '';
    display: block;
    padding-bottom: 100%;
  }
  &.today {
    color: var(--background-color);
    border: 3px dashed green;
  }
  &.empty {
    // background: var(--background-color-alt);
  }
  &.full {
    color: var(--white-color);
    border: 0;
  }
  &.disabled {
    color: var(--text-color);
    opacity: 0.7;
    background: var(--background-color);
    // border: 3px solid var(--border-color);

    // border-color: var(--shadow-color);
    z-index: 0;
  }
}
.loadMore {
  margin-left: 32px;
  background: var(--background-color-alt);
}
