@import 'style/variables.scss';
.label {
  @extend %default;
  font-size: 16px;
  color: var(--text-color);
  display: inline-block;
}
.labelRow {
  margin-bottom: $margin / 2;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  .errors {
    margin-left: auto;
    font-size: 12px;
    color: var(--accent-color-10);
    @include small {
      margin-left: 0;
    }
  }
}
.input {
  display: flex;
  flex-direction: column;
  color: var(--primary-color);
  margin-bottom: $margin;
  .description {
    font-size: 14px;
    margin-top: 4px;
    @extend %default;
  }
  .inputField {
    color: var(--primary-color);
    box-sizing: border-box;
    border-radius: 3px;
    border: 2px solid var(--text-color);
    padding: 8px;
    background: var(--background-color);
    @extend %default;
    min-width: 250px;
    font-size: 16px;
    &.responsive {
      min-width: 0;
    }
    &:focus {
      outline: 0;
      border: 2px solid var(--primary-color);
    }
    &::placeholder {
      color: var(--secondary-color-10);
      opacity: 0.8;
      font-style: italic;
    }
    &.big {
      font-weight: 400;
      padding: 12px;
      font-size: 20px;
      border-radius: 6px;
    }
  }
}

.dropdown {
  .dropdownInput {
    display: flex;
    position: relative;
  }
  .selectField {
    background: transparent; //var(--background-color);
    appearance: none;
    // background: red;
    // padding-right: 30px;
    width: 100%;
  }
  .close {
    position: absolute;
    right: 40px;
    height: 40px;
    top: 0;
    * {
      fill: var(--text-color);
    }
  }
  .down {
    * {
      fill: var(--text-color);
    }
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 40px;
    pointer-events: none;
    z-index: -1;
  }
  &.disabled {
    .selectField {
      opacity: 0.6;
      cursor: not-allowed;
    }
  }
}

.checkboxWrapper {
  position: relative;
  padding-left: 25px;

  span {
    @extend %default;
    font-size: 16px;
    margin-bottom: $margin / 2;
    color: var(--text-color);
  }
  .check {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: var(--border-color);
    border-radius: 5px;
  }
  :hover input ~ .check {
    background-color: #ccc;
  }

  /* When the checkbox is checked, add a blue background */
  input:checked ~ .check {
    background-color: var(--secondary-color-100);
  }

  /* Create the checkmark/indicator (hidden when not checked) */
  .check:after {
    content: '';
    position: absolute;
    display: none;
  }

  /* Show the check when checked */
  input:checked ~ .check:after {
    display: block;
  }

  /* Style the check/indicator */
  .check:after {
    left: 7px;
    top: 3px;
    width: 4px;
    height: 9px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
}
