@import 'style/variables.scss';

.footer {
  width: 100%;
  // @extend %default;
  margin-top: $margin * 10;
  .sponsors {
    display: flex;
  }
  p {
    max-width: 50vw;
    margin-top: $margin * 3;
    line-height: 1.2em;
  }
}

.sponsor {
  margin-right: $margin * 10;
  // @extend %default;
  .intro {
    @extend %title;
    color: $textColor;
    margin-bottom: $margin;
  }
  a {
    color: #000;
    font-weight: 600;
    font-size: $big-text;
  }
  img {
    width: 100%;
    max-width: 150px;
  }
}
