@import 'style/variables.scss';

.link {
  appearance: none;
  text-decoration: underline;
  color: var(--secondary-color-10);
  font-weight: 600;
  // margin-top: $margin;
  border: 0;
  text-align: left;
  padding: 0;
  cursor: pointer;

  &:hover {
    color: var(--secondary-color-100);
  }
}
.button {
  background: var(--secondary-color-100);
  border-radius: 6px;
  @extend %default;
  color: var(--white-color);
  font-size: 14px;
  display: inline-block;
  font-weight: 600;
  height: 48px;
  cursor: pointer;
  text-align: center;
  appearance: none;
  text-decoration: none;
  min-width: 120px;
  padding: 12px $margin * 2;
  border: 0;
  align-items: center;
  justify-content: center;
  display: flex;
  &:hover {
    background: var(--secondary-color-10);
  }
  &.secondary {
    background: var(--primary-color-100);
    color: white;
  }
  &.big {
    height: 56px;
    font-size: 18px;
    padding: 0 $margin * 2;
  }
  &.small {
    height: 36px;
    font-size: 13px;
    // padding: 0 $margin;
    min-width: 80px;
  }
}
