@import 'style/variables.scss';

.headerContainer {
  .habitsActions {
    margin-bottom: $margin * 2;
    display: flex;
    align-items: center;
    .buttons {
      margin-left: auto;
    }
  }
}

.habits {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 64px;
  margin-bottom: 200px;

  @include small {
    margin-top: 32px;
  }
}
.mainPage {
  display: flex;
}
.sidebarContainer {
  width: 30%;
  min-width: 300px;
  // background: red;
}
.detailContainer {
  width: 70%;
  max-width: 800px;
  // padding-left: 5%;
  padding-bottom: 100px;
  // border-left: 2px solid var(--border-color);
  // border-right: 2px solid var(--border-color);
  // border-top-left-radius: $margin;
  // border-top-right-radius: $margin;
}
.habitsContainer {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  @include small {
    width: 100%;
    margin-top: 32px;
  }
}
.noHabit {
  background: var(--background-color-alt);
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: 500;
  border-radius: $margin $margin 0 0;
}
.habit {
  padding-bottom: $margin;
  padding-top: $margin;
  cursor: pointer;
  width: 160px;
  // height: 200px;
  width: 47.5%;
  position: relative;
  overflow: hidden;
  margin: 2.5%;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  &:after {
    content: '';
    display: block;
    padding-bottom: 110%;
  }
  box-shadow: 0 2px 2px var(--shadow-color);

  &:nth-child(even) {
    margin-right: 0;
  }
  &:nth-child(odd) {
    margin-left: 0;
  }
  padding: 16px 12px;
  .done {
    cursor: pointer;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 50%;
    display: flex;
    border-top-left-radius: 16px;
    align-items: center;
    justify-content: center;
    height: 60px;
    // background: red;
    width: 60px;
    font-size: 32px;
  }
  .title {
    font-weight: 600;
    font-size: 18px;
    color: var(--light-text-color);
  }

  .streak {
    position: absolute;
    left: 0;
    padding-bottom: $margin;
    bottom: 0;
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-left: 12px;
    padding-right: 0;
    // padding: $margin;
    .value {
      color: var(--light-text-color);
      font-size: 24px;
      font-weight: 600;
    }
    .label {
      color: var(--light-text-color);
      font-size: 14px;
      font-weight: 400;
    }
  }
}
