@import 'style/variables.scss';

.headerContainer {
  min-height: 200px;
  padding: 0 $margin * 1.5;
  padding-top: $margin * 4;
  margin-left: -$margin * 1.5;
  margin-right: -$margin * 1.5;
  background: var(--background-color-alt);
  h2 {
    font-size: 40px;
    line-height: 47px;
    font-weight: 600;
  }
}

.infoContainer {
  margin-top: $margin * 4;
  // display: flex;
  .info {
    display: inline-block;
    padding-right: $margin * 1.4;
    &:last-child {
      padding-right: 0;
    }
    // margin-right: 5%;
    .label {
      font-size: 14px;
      font-weight: 500;
    }
    .value {
      font-size: 20px;
      font-weight: 600;
    }
  }
}
.doneButton {
  position: relative;
  bottom: -28px;
}
.contentContainer {
  padding-top: $margin * 4;
}
.calendar {
  margin-top: 60px;
}
.days {
  display: flex;
  flex-wrap: wrap;
  margin-left: 5px;
  margin-bottom: 32px;
  margin-top: $margin;
}
.atom {
  cursor: pointer;
  margin-left: -5px;
  margin-bottom: -5px;
  // min-width: 64px;
  // min-height: 64px;
  width: calc(100% / 7);
  width: 50px;
  border-radius: 999em;
  display: flex;
  align-items: center;
  justify-content: center;
  // border: 3px solid var(--background-color);
  box-shadow: 0px 0px 0px 3px var(--background-color);
  // margin: 3px;
  font-weight: 600;
  font-size: 14px;
  color: var(--background-color);

  &:after {
    content: '';
    display: block;
    padding-bottom: 100%;
  }
  &.full {
    color: var(--background-color);
  }
  &.today {
    border: 3px dashed green;
  }
  &.disabled {
    color: var(--text-color);
    opacity: 0.7;
    background: var(--background-color);
    // border: 3px solid var(--border-color);

    // border-color: var(--shadow-color);
    z-index: -1;
  }
}
.loadMore {
  margin-left: 32px;
  background: var(--background-color-alt);
}
