@import 'style/variables.scss';

.bottomBar {
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 0;
  height: 72px;
  z-index: 10;
  left: 0;
  padding: $margin;
  border-top: 2px solid var(--border-color);
  background: var(--background-color);
  width: 100%;
  justify-content: flex-end;
}
