:root {
  --white-color: rgb(224, 224, 224);

  --text-color: #666;
  --background-color: #fff;
  --text-color: #666;
  // --background-color: #fff;
  --background-color-alt: #f4f4f4;
  --primary-color: #2e86de;
  --secondary-color: #6daae8;
  --light-text-color: #fafafa;
  --shadow-color: rgba(0, 0, 0, 0.15);
  --border-color: #eee;

  --habit-red: #ff7878;
  --habit-red-strong: #f02020;
  --habit-red-light: #ffa1a1;

  --habit-blue: #2e86de;
  --habit-blue-strong: #0067cd;
  --habit-blue-light: #6daae8;

  --habit-orange: #ff965a;
  --habit-orange-strong: #ff620a;
  --habit-orange-light: #ffb58b;

  --habit-green: #27ae60;
  --habit-green-strong: #009941;
  --habit-green-light: #68c690;

  --habit-purple: #8a78ee;
  --habit-purple-strong: #5c41f0;
  --habit-purple-light: #ada1f3;

  --habit-pink: #fc97b4;
  --habit-pink-strong: #ff5183;
  --habit-pink-light: #fdb6cb;
}

body.dark {
  --white-color: rgb(224, 224, 224);
  --text-color: rgb(224, 224, 224);
  --background-color: rgb(26, 26, 26);
  --background-color-alt: rgb(45, 45, 45);
  --primary-color: #6daae8;
  --border-color: rgb(50, 50, 50);

  --primary-color-alt: #b68b8b;
  --light-text-color: rgb(224, 224, 224);
  --shadow-color: rgba(0, 0, 0, 0.15);

  --habit-red: #b02020;
  --habit-red-strong: #b02020;
  --habit-red-light: #ffc6c6;

  --habit-blue: #135fab;
  --habit-blue-strong: #135fab;
  --habit-blue-light: #5a8fc4;

  --habit-orange: #b94605;
  --habit-orange-strong: #b94605;
  --habit-orange-light: #ffb58b;

  --habit-green: #017e51;
  --habit-green-strong: #017e51;
  --habit-green-light: #68c690;

  --habit-purple: #443695;
  --habit-purple-strong: #443695;
  --habit-purple-light: #4da585;

  --habit-pink: #9e3266;
  --habit-pink-strong: #9e3266;
  --habit-pink-light: #bb6f94;
}

$margin: 16px;
$border-radius: 16px;

$max-mobile-width: 800px;
$min-large-width: 1250px;
$min-huge-width: 1500px;

%default {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-family: 'Rubik';
}
%openSans {
  font-family: 'Open Sans', sans-serif;
}

%title {
  @extend %default;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 49px;
  color: var(--text-color);
}

%titleSection {
  @extend %default;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  color: var(--primary-color);
}

%subtitle {
  @extend %default;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: var(--text-color);
}
%subtitleSection {
  @extend %default;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: var(--text-color);
}

%text {
  @extend %openSans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  color: var(--text-color);
}

%textSmall {
  @extend %openSans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: var(--text-color);
}

@mixin small {
  @media screen and (max-width: #{$max-mobile-width}) {
    @content;
  }
}

@mixin large {
  @media screen and (min-width: #{$min-large-width}) {
    @content;
  }
}
@mixin huge {
  @media screen and (min-width: #{$min-huge-width}) {
    @content;
  }
}
