@import 'style/reset.scss';
@import 'style/colors.scss';
@import 'style/variables.scss';

body {
  margin: 0;
  padding: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  min-height: 100vh;
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  color: var(--text-color);
  // transition: background 1s ease-in-out;
  background: var(--background-color);
}

body * {
  @extend %default;
}
.container {
  height: 100vh;
  box-sizing: border-box;
  // * {
  //   box-sizing: border-box;
  //   transition: all 0.5s ease;
  // }
}
::selection {
  background: var(--primary-color);
  color: var(--background-color);
}
a {
  color: var(--text-color);
}
.modal {
  transition: none;
}

h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.4em;
}
h3 {
  font-size: 1.3em;
}
