$margin: 16px;
$border-radius: 16px;

$sizeTitle: 42px;
$sizeSubtitle: 24px;
$small-text: 14px;
$normal-text: 16px;
$huge-text: 40px;
$big-text: 0px;

$max-mobile-width: 800px;
$min-large-width: 1250px;
$min-huge-width: 1500px;

%default {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-family: 'Rubik';
}

%title {
  @extend %default;
  // font-family: 'Bitter';
  // @extend %default;
  // font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  //   'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  //   sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.8em;
  line-height: 1.1em;
  margin-bottom: 0.8em;
  color: var(--primary-color);
}

%titleSection {
  @extend %default;
  // @extend %default;
  // font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  //   'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  //   sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  color: var(--primary-color);
}

%upTitle {
  @extend %default;
  // text-transform: uppercase;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  margin-bottom: $margin;
  color: var(--text-color);
}

%subtitle {
  @extend %default;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: var(--text-color);
}
%subtitleSection {
  @extend %default;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: var(--text-color);
}

%text {
  @extend %default;
  font-style: normal;
  font-weight: bold;
  font-size: 1.3em;
  line-height: 1.3em;
  color: var(--text-color);
}

%textSmall {
  @extend %default;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: var(--text-color);
}

%card {
  padding: $margin;
  background: var(--background-color);
  box-shadow: 0px 2px 4px var(--text-color);
  border-radius: 15px;
}

@mixin small {
  @media screen and (max-width: #{$max-mobile-width}) {
    @content;
  }
}

@mixin large {
  @media screen and (min-width: #{$min-large-width}) {
    @content;
  }
}
@mixin huge {
  @media screen and (min-width: #{$min-huge-width}) {
    @content;
  }
}
