@import "style/variables.scss";

.title {
  @extend %title;
}
.upTitle {
  @extend %upTitle;
}

.subTitle {
  @extend %subtitle;
}

.sectionTitle {
  @extend %titleSection;
}

.sectionSubTitle {
  @extend %subtitleSection;
}

.text {
  @extend %text;
}

.smallText {
  @extend %textSmall;
}
