@import "style/variables.scss";

.heroBar {
  padding-right: 25%;
  padding-top: 64px;
  padding-bottom: 64px;
  background: var(--primary-color-5); // #f5f5f5;
  margin-left: -10vw;
  margin-right: -10vw;
  padding-left: 10vw;
  padding-right: 10vw;
  margin-top: 64px;
  margin-bottom: 64px;
  @extend %text;
  @include small {
    margin-left: -16px;
    margin-right: -16px;
    padding-bottom: 100px;
    padding-left: 16px;
    padding-right: 16px;
  }
}
