@import 'style/variables.scss';

.images {
  margin-left: -24px;
  margin-right: -24px;
  margin-left: calc(-10vw);
  margin-right: calc(-10vw);
  padding-top: 32px;
  margin-top: 32px;
  position: relative;
  padding-bottom: 200px;
  align-items: center;
  @include small {
    margin-left: -24px;
    margin-right: -24px;
    padding-bottom: 100px;
  }

  img {
    width: 50vw;
    height: calc(50vw / 1.63);
    min-width: 50vw;
    max-width: 1000px;
    margin-right: 50px;
    border-radius: 10px;
    z-index: 1;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    @include small {
      min-width: 80vw;
      height: calc(80vw / 1.63);
      margin-right: 16px;
    }
  }
  .space {
    min-width: 10vw;
  }
  // overflow: hidden;
  .imagesRow {
    padding-left: 10vw;
    display: flex;
    padding-right: 10vw;
    padding-bottom: 10px;
    overflow-x: scroll;
    @include small {
      padding-left: 16px;
      padding-right: 16px;
    }
  }

  &:before {
    background: var(--background-color-alt); //#f5f5f5;
    mask: url(/homepage/background4.svg);
    -webkit-mask: url(/homepage/background4.svg);
    content: '';
    position: absolute;
    mask-repeat: no-repeat;
    z-index: -1;
    width: 100%;
    height: 60vw;
    top: -10%;
    mask-size: 100%;
    -webkit-mask-size: 100%;
    // top: 25%;
    left: 0;
    right: 0;
    @include small {
      height: 80vw;
    }
  }
}
